<!-- books.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>MusicAlbum</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>MusicAlbum</h1>
    <table class="book-table">
      <tr>
        <th>Musicformat</th>
        <th>Musicname</th>
        <th>Composername</th>
        <th>Actions</th>
      </tr>
      <% for(var i=0; i < musicformat.length; i++) { %>
        <tr>
          <td><%= musicformat[i].musicformat %></td>
          <td><%= music[i].music_name %></td>
          <td><%= Composer[i].composer_name %></td>
          <td>
            <a href="/update/<%= musicformat[i].id_fom %>">Edit</a>
            <a href="/delete/<%= musicformat[i].id_fom %>">Delete</a>
          </td>
        </tr>
      <% } %>
    </table>
    
    <div class="link-center">
      <a href="/create">Create New Musicformat</a>
    </div>
  </body>
  </html>
